[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tornado = "*"
gino = "*"
catboost = "*"
beautifulsoup4 = "*"
requests = "*"
xlsx2csv = "*"

[requires]
python_version = "3.7"
